body {
  background-color: rgb(165, 156, 156);
}

.text {
  color: white;
}

.image img {
  max-width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.button button {
  padding: 40px;
  bottom: 10%;
  left: 50%;
  /* transform: translateX(-40%); */
  background-color: orange;
}

.button .clicked button {
  /* Styles for the button within .button div when clicked */
  background-color: red;
}

.bold-text {
  font-weight: bold;
}

footer {
  color: white;
}

footer #copy-icon.copied {
  fill: white;
}

footer .copy-text,
.copy-button,
.confirmation-text {
  display: inline-block;
}
